[Unit]
Description=Checks if modem present
Requires=set-docker-storage.service
After=set-docker-storage.service

[Service]
Type=oneshot
ExecStart=/bin/mdm-check
ExecStartPost=/bin/systemctl disable mdm-check

[Install]
WantedBy=basic.target
