[Unit]
Description=PMC serial reader and parser
Requires=network-online.target
After=network-online.target edison-machine-id.service wams-config.service

[Service]
ExecStart=/bin/pmc
Restart=always
RestartSec=5

[Install]
WantedBy=basic.target
